.home {
  position: relative;
}

.home__header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  background: linear-gradient(0deg, transparent 2%, var(--dark-grey) 100%);
  z-index: 1;
  color: var(--light-text);
  padding: 20px var(--padding-inline) 20px var(--padding-inline);
}

.home__header__location-input {
  width: 100%;

  @media screen and (width >= 640px) {
    width: 50%;
  }
}