@use "resets";

:root {
  color-scheme: light dark;
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;

  --font-size-regular: 16px;
  --font-size-m: 20px;
  --font-size-l: 26px;
  --font-size-xl: 32px;
  --font-size-xxl: 40px;

  --line-height-body: 1.5;
  --line-height-heading: 1.1;

  --very-dark-grey: #0f0f1e;
  --very-dark-grey-rgb: 15, 15, 30;
  --dark-grey: #262634;
  --dark-grey-rgb: 38,38,52;
  --mid-dark-grey: #3e3e4a;
  --mid-dark-grey-rgb: 62,62,74;
  --mid-grey: #6f6f78;
  --mid-grey-rgb: 111, 111, 120;
  --mid-light-grey: #b7b7bb;
  --mid-light-grey-rgb: 183, 183, 187;
  --light-grey: #e7e7e8;
  --light-grey-rgb: 231, 231, 232;

  --dark-text: var(--dark-grey);
  --light-text: var(--light-grey);
  --light-background: white;
  --dark-background: var(--dark-grey);

  --padding-inline: 15px;

  @media screen and (width >= 640px) {
    --font-size-m: 28px;
    --font-size-l: 32px;
    --font-size-xl: 40px;
    --font-size-xxl: 56px;
    --padding-inline: 20px;
  }
}

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

#root, main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body {
  background-color: light-dark(var(--light-background), var(--dark-background));
  color: light-dark(var(--dark-text), var(--light-text));
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: var(--font-size-regular);
  font-weight: 300;
  line-height: var(--line-height-body);
  margin: 0;
  max-width: 100%;
  min-height: 100dvh;
  padding: 0;
}

.h1,
h1 {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-heading);
}

.h2,
h2 {
  font-weight: 100;
  font-size: var(--font-size-xl);
  line-height: var(--line-height-heading);
}

.h3,
h3 {
  font-weight: 100;
  font-size: var(--font-size-l);
  line-height: var(--line-height-heading);
}

.h4,
h4 {
  font-weight: 100;
  font-size: var(--font-size-m);
  line-height: var(--line-height-heading);
}

strong {
  font-weight: 400;
}

button {
  cursor: pointer;
  transition: ease-in 150ms all;
}